body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

main {
    padding: 20px;
    height: 100%; /* Asegura que el main ocupe el espacio restante */
}

.main-container {
    max-width: 1200px;
    margin: 80px auto 0 auto; /* Añade margen superior para evitar solapamiento con el navbar fijo */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 36px;
}